body {
    background: url("../image/vignettes/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}


.menu {
    display: flex;           
    justify-content: center; 
    flex-wrap: wrap;          
    gap: 10px;               
    margin: 20px 0;
}

.menu a {
    display: block;           
    text-align: center;     
    color: white;
    background-color: rgb(150, 66, 118);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;  
    transition: 0.3s ease;
    width: 150px;           
    margin: 5px;
}

.menu a:hover {
    background-color: rgb(132, 140, 221);
    transform: scale(1.05);
}

h1, h2, p, .liens-sociaux, li {
    text-align: center;
    list-style: none;
}

footer {
  background: linear-gradient(to bottom, #00c6ff, #003399);
  color: white;
  text-align: center;
  padding: 20px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 50px; 
  text-decoration: none;
}
